:root {
	--background:#F9F6D6;
	--text:#33212E;
	--accent1:#9CA3AF; /*cadet grey*/
	--accent2:#7AA095; /*cyan*/
}

* {
	font-family: 'Quicksand', sans-serif;
	margin:0px;
	padding: 0px;
	color:blanchedalmond;

}

h1, h2 {
	margin-bottom: 10px;
	
}

input {
	border-radius: 3px;
	border: 1px solid var(--text);
	padding: 2px;
	color: black;
}

body{
	background-color: var(--text);
}

.background {
	padding: 20px;
	text-align: center;
	display: block;
	height: 100%;
}

.textbox {
	margin: 20px;
	padding: 20px;
  	color: var(--text);
  	line-height: 2em;
  	text-align: center;

}

.add, .kill {
	border-radius: 2px; 
	padding: 5px;
	margin: 20px 10px;
	background-color: var(--accent2);
	color:var(--text);
} /*this is the add button*/

.kill {
	/*this is the x button*/
	margin: 0px 5px;
	border: none;
	margin: 3px 5px;
    padding: 0px 7px;
    height: 25px;

}

.Guest {
	/*this is each task line, including the button*/
	width: 50%;
	min-width: 200px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #3A4C47;
	margin: auto;
	text-transform: capitalize;
}
